name: Deploy

on:
  push:
    branches:
      - staging

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup SSH agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy plugin
        run: |
          rsync -avz --delete \
            -e "ssh -p 65002 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null" \
            wp-content/plugins/ddcwwfcsc/ \
            ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}:public_html/test/wp-content/plugins/ddcwwfcsc/

      - name: Deploy theme
        run: |
          rsync -avz --delete \
            -e "ssh -p 65002 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null" \
            wp-content/themes/ddcwwfcsc-theme/ \
            ${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}:public_html/test/wp-content/themes/ddcwwfcsc-theme/
