name: Deploy

on:
  push:
    branches:
      - staging

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup SSH agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Install lftp
        run: sudo apt-get install -y lftp

      - name: Deploy plugin
        run: |
          lftp -e "
            set sftp:connect-program 'ssh -a -x -p 65002 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null';
            connect sftp://${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }};
            mirror --reverse --delete --verbose wp-content/plugins/ddcwwfcsc/ public_html/test/wp-content/plugins/ddcwwfcsc/;
            bye
          "

      - name: Deploy theme
        run: |
          lftp -e "
            set sftp:connect-program 'ssh -a -x -p 65002 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null';
            connect sftp://${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }};
            mirror --reverse --delete --verbose wp-content/themes/ddcwwfcsc-theme/ public_html/test/wp-content/themes/ddcwwfcsc-theme/;
            bye
          "
